<!-- login card -->
<mat-card>
  <mat-card-title>
    <span> {{data.signupName}} </span>
  </mat-card-title>
  <br>

  <!-- (ngSubmit)="onSubmit()" -->
  <form [formGroup]="userSignup">
    <mat-card-content>

      <!-- id [disabled]="!editUser" -->
      <mat-form-field>
        <input matInput placeholder="Cédula" formControlName="id">
      </mat-form-field>
      <br>

      <!-- username -->
      <mat-form-field>
        <input matInput placeholder="Nombre de usuario" formControlName="username">
      </mat-form-field>
      <br>

      <!-- password -->
      <mat-form-field>
        <input matInput placeholder="Contraseña" formControlName="password" type="password">
      </mat-form-field>
      <br>

      <!-- firstName -->
      <mat-form-field>
        <input matInput placeholder="Nombre" formControlName="firstName">
      </mat-form-field>
      <br>

      <!-- lastName -->
      <mat-form-field>
        <input matInput placeholder="Apellido" formControlName="lastName">
      </mat-form-field>
      <br>

      <!-- age -->
      <mat-form-field>
        <input matInput placeholder="Edad" formControlName="age">
      </mat-form-field>
      <br>

      <!-- address -->
      <mat-form-field>
        <input matInput placeholder="Dirección" formControlName="address">
      </mat-form-field>
      <br>

      <!-- email -->
      <mat-form-field>
        <input matInput placeholder="Correo electrónico" formControlName="email">
      </mat-form-field>
      <br>
    </mat-card-content>

    <mat-card-actions>
      <!-- buttons -->
      <app-button-secondary class="button" [buttonName]="'Cancelar'" class="mx-2" (click)="onCancel()"></app-button-secondary>
      <app-button-primary [buttonName]="'Agregar'" [buttonDisabled]="!userSignup.valid" (click)="onSubmit()"></app-button-primary>
      <!--  disabled while form is not valid. user and password must be filled -->
    </mat-card-actions>
  </form>

  <mat-card-footer>

  </mat-card-footer>
</mat-card>
