<!-- alert message -->
<div *ngIf="alert" class="alert alert-danger alert-dismissible" role="alert" data-auto-dismiss>
  <p>
    <strong>Usuario o Contraseña incorrectos.</strong>
    <br>
  </p>Verifique sus datos nuevamente.
</div>

<!-- login card -->
<mat-card>
  <mat-card-title>
    <span>Iniciar sesión</span>
  </mat-card-title>
  <br>

  <form [formGroup]="userLogin" (ngSubmit)="onSubmit()">
    <mat-card-content>
      <!-- username -->
      <mat-form-field>
        <input matInput placeholder="username" formControlName="username">
      </mat-form-field>
      <br>

      <!-- password -->
      <mat-form-field>
        <input matInput placeholder="password" formControlName="password" type="password">
      </mat-form-field>
      <br>
    </mat-card-content>

    <mat-card-actions>
      <!-- buttons (click)="onCancel()"-->
      <app-button-secondary class="button" [buttonName]="'Cancelar'" class="mx-2"></app-button-secondary>
      <!-- (click)="onSubmit()" -->
      <app-button-primary [buttonName]="'continuar'" [buttonDisabled]="!userLogin.valid"></app-button-primary>
      <!--  disabled while form is not valid. user and password must be filled -->
    </mat-card-actions>
  </form>

  <mat-card-footer>

  </mat-card-footer>
</mat-card>
